@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<ul>
    <li> Drawing of an ingredient: @ingredient </li>
    <li> Test of an ingredient: @ingr.name </li>

    @foreach (var ingr in ingredients)
    {
        <li>@ingr.name</li>
    }
</ul>

@code {
    private string ingredient = "test";

    private Business.DomainTypes.Ingredient ingr
        = Business.DomainTypes.createIngredient("tomato", 5.0, "unit", "tomato.jpg");
    private Business.DomainTypes.Ingredient turkey
        = Business.Examples.turkey;
    private List<Business.DomainTypes.Ingredient> ingredients
        = Business.Examples.ingredients.ToList();
} 
